<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; 2013 - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | Wolf Network Lab<br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> &amp; 
      <a href="https://github.com/TrustyWolf/landscape-plus" target="_blank">Theme Localization Project</a>.
    </div>
  </div>
</footer>